@model Gmt_Asset_Tracker.Models.Asset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset_description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset_tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service_tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service_tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assigned_to)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assigned_to)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchased_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchased_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Delivery_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requistion_pack)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayNameFor(model => model.Requistion_pack)*@
            <a href="~/Asset/PDFViewerNewTab?fileName=@Model.Requistion_pack" target="_blank">
                @Model.Requistion_pack
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/media/images/@Model.Image" width="200" alt="" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Present_user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Present_user)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Category_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Location_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Present_location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Present_location.Location_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Department_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset_State.Asset_state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Vendor_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physical_check)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physical_check.Check_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>