@model IEnumerable<Gmt_Asset_Tracker.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<style>

    .card {
        overflow: hidden;
    }

    .card-block .rotate {
        z-index: 8;
        float: right;
        height: 100%;
    }

        .card-block .rotate i {
            color: rgba(20, 20, 20, 0.15);
            position: absolute;
            left: 0;
            left: auto;
            right: -10px;
            bottom: 0;
            display: block;
            -webkit-transform: rotate(-44deg);
            -moz-transform: rotate(-44deg);
            -o-transform: rotate(-44deg);
            -ms-transform: rotate(-44deg);
            transform: rotate(-44deg);
        }
</style>

<div class="row mb-3">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-danger">
            <div class="card-block bg-danger">
                <div class="rotate">
                    <i class="fas fa-shopping-bag fa-4x"></i>
                </div>
                <h6 class="text-uppercase" style="color:floralwhite">Assets</h6>
                <h1 class="display-1" style="color:floralwhite">@ViewData["Assets"]</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-store fa-5x"></i>
                </div>
                <h6 class="text-uppercase" style="color:floralwhite">Vendors</h6>
                <h1 class="display-1" style="color:floralwhite">@ViewData["Vendors"]</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <div class="rotate">
                    <i class="far fa-building fa-5x"></i>
                </div>
                <h6 class="text-uppercase" style="color:floralwhite">Deparments</h6>
                <h1 class="display-1" style="color:floralwhite">@ViewData["Departments"]</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fas fa-map-marker-alt fa-5x"></i>
                </div>
                <h6 class="text-uppercase" style="color:floralwhite">Locations</h6>
                <h1 class="display-1" style="color:floralwhite">@ViewData["Locations"]</h1>
            </div>
        </div>
    </div>
</div>
<h1>Asset List</h1>

<p>
    <a asp-action="Create">Add New Asset</a>
</p>
@*@using (Html.BeginForm("Filter", "Asset", FormMethod.Post))
    {
        <input type="datetime" name="start" id="start" />
        <input type="datetime" name="end" id="end" />
        <input type="submit" />
    }*@

<div class="column">

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a name">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>




    <div style="float:right;">
        <form method="post" asp-controller="Asset" asp-action="ExportToExcel">
            <input type="submit" value="Export to excel" class="btn btn-primary" />
        </form>
    </div>
</div>

<hr />

    <form method="post" asp-controller="Asset" asp-action="ExportToExcelfilter">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="datetime-local" class="form-control" name="start" id="start" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input type="datetime-local" class="form-control" name="end" id="end" />
            </div>
        </div>

        <div class="col-md-6">
            <input type="submit" value="Export to excel" asp-action="ExportToExcelfilter" asp-controller="Asset" class="btn btn-primary" />
            @*<a href="@Url.Action("ExportToExcelfilter", "Asset",new {start = @ViewBag.START , end = @ViewBag.END })" class="btn btn-sm btn-info">Export</a>*@
        </div>
    </form>

    
                <hr />

                <div style="width: 100%; overflow: auto;">
                    <table class="table table-striped w-auto" id="myTable">
                        <thead>
                            <tr class="table-info">
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Asset_name)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Asset_description)
                                    </th>*@
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Asset_tag)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Service_tag)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Assigned_to)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Purchased_price)
                                    </th>*@
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Delivery_date)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Requistion_pack)
                                    </th>*@
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Image)
                                    </th>*@
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Present_user)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Location)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Present_location)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Asset_State)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Vendor)
                                </th>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Physical_check)
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Asset_name)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Asset_description)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Asset_tag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Service_tag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assigned_to)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Purchased_price)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Delivery_date)
                                    </td>

                    <!--<td>-->
                    @*@Html.DisplayFor(modelItem => item.Requistion_pack)*@
                    <!--<a href="~/Asset/PDFViewerNewTab?fileName=@item.Requistion_pack" target="_blank">
                            @item.Requistion_pack
                        </a>
                    </td>-->
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Present_user)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Category_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location.Location_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Present_location.Location_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department.Department_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Asset_State.Asset_state)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vendor.Vendor_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Physical_check.Check_name)
                                    </td>
                                    <td>
                                        <a asp-action="AssetVerification" asp-route-id="@item.Id" class="fas fa-check-double btn btn-success btn-sm active">Asset Verification</a>
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-edit btn btn-primary btn-sm active" role="button"></a>
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-info btn-sm active" role="button"></a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash btn btn-danger btn-sm active" role="button"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <pagination page-count="@ViewBag.TotalPages" page-target="/asset" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>

                <script>
                    function myFunction() {

                        // Declare variables
                        var input = document.getElementById("myInput");
                        var filter = input.value.toUpperCase();
                        var table = document.getElementById("myTable");
                        var trs = table.tBodies[0].getElementsByTagName("tr");

                        // Loop through first tbody's rows
                        for (var i = 0; i < trs.length; i++) {

                            // define the row's cells
                            var tds = trs[i].getElementsByTagName("td");

                            // hide the row
                            trs[i].style.display = "none";

                            // loop through row cells
                            for (var i2 = 0; i2 < tds.length; i2++) {

                                // if there's a match
                                if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

                                    // show the row
                                    trs[i].style.display = "";

                                    // skip to the next row
                                    continue;

                                }
                            }
                        }

                    }

                    $(document).ready(function () {
                        $('#myTable').DataTable({
                            "paging": false // false to disable pagination (or any other option)
                        });
                        $('.dataTables_length').addClass('bs-select');
                    });
                </script>
