@model IEnumerable<Gmt_Asset_Tracker.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Asset List</h1>

<p>
    <a asp-action="Create">Add New Asset</a>
</p>
<table class="table table-striped w-auto">
    <thead>
        <tr class="table-info">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Asset_name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Asset_description)
                </th>*@
            <th scope="row">
                @Html.DisplayNameFor(model => model.Asset_tag)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Service_tag)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Assigned_to)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Purchased_price)
                </th>*@
            <th scope="row">
                @Html.DisplayNameFor(model => model.Delivery_date)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Requistion_pack)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@
            <th scope="row">
                @Html.DisplayNameFor(model => model.Present_user)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Present_location)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Asset_State)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Physical_check)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Asset_description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service_tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assigned_to)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Purchased_price)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_date)
                </td>
                <!--<td>-->
                @*@Html.DisplayFor(modelItem => item.Requistion_pack)*@
                <!--<a href="~/Asset/PDFViewerNewTab?fileName=@item.Requistion_pack" target="_blank">
                        @item.Requistion_pack
                    </a>
                </td>-->
                @*<td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Present_user)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Location_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Present_location.Location_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Department_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_State.Asset_state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Vendor_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physical_check.Check_name)
                </td>
                <td>                    
                    <a asp-action="AssetVerification" asp-route-id="@item.Id" class="fas fa-check-double btn btn-success btn-sm active">Asset Verification</a>                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-edit btn btn-primary btn-sm active" role="button"></a>                    
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-info btn-sm active" role="button"></a>                    
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-trash btn btn-danger btn-sm active" role="button"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<pagination page-count="@ViewBag.TotalPages" page-target="/asset" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>